* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

/*Top bar */
#topbar {
    display: flex;
    position: fixed;
    background-color: #900;
    width: 100%;
    height: 15%;
}

.logo img {
    width: 230px;
    height: 115px;
}

.welcome h1 {
    font-size: 30px;
    text-align:center;
    padding-top: 40px;
    padding-left: 300px;
}

/*Side menu */
.sidebar {
    position: fixed;
    top: 15%;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #042331;
}

.sidebar header {
    font-size: 25px;
    color: white;
    text-align:center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
}

.sidebar header img {
    width: 23px;
    margin-right: 8px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

/*Main bar with user content */
#mainbar {
    top: 15%;
    left: 15%;
    background-color:white;
    width: 85%;
    height: 100%;
    overflow: hidden;
    position:fixed;
}

#mainbar .studentInfo {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-align: left; 
    line-height: 70px;
    background-color: #063;
    
}

#mainbar .background {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 100%;
}

#mainbar .course-container {
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
}

#mainbar .course-container h2 {
    padding-bottom: 10px;
}

/*Table containing courses selected*/
.class-Tom  {
    border-collapse:collapse;
    border-spacing:0;
}

.class-Tom td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.class-Tom th{border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.class-Tom .course-item {
    background-color:#ffccc9;
    border-color:inherit;
    text-align:center;
    vertical-align:middle
}

.class-Tom .course-detail {
    background-color:#fffc9e;
    border-color:inherit;
    text-align:center;
    vertical-align:middle
}

/*Enrollment button*/
.enroll-contrl {
    padding-top: 10px;

}
.enroll-contrl input[type="submit"] {
    color: black;
    font: bold 20px arial, helvetica, sans-serif;
    background-color:lightcoral;
}

/* describe the general category of a device*/
/*tablet*/
@media (width: 768px) {

    .logo img {
        width: 115px;
        height: 155px;
    }

    .welcome h1 {
        padding-top: 50px;
        padding-left: 40px;
        font-size: 30px;
    }

    .sidebar ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 20px;
        font-size: 13px;
    }

    .sidebar header {
        font-size: 20px;
    }
    
    .sidebar header img {
        width: 13px;
        margin-right: 8px;
    }
}

@media (width: 1024px) {
    
    body {
        display: grid;
        height: auto;
        width: 80%;
        background-color: #fff;
    }

    .logo img {
        width: 155px;
        height: 203px;
    }

    .welcome h1 {
        padding-top: 75px;
        padding-left: 150px;
    }

    .sidebar ul a {
        font-size: 15px;
    }
    
    #mainbar .weclome_Info {
        font-size: 18px;  
    }

    #mainbar .background {
        width: 100%;
        height: 100%;
    }
}

/*mobile*/
@media (max-width: 767px) {
    #topbar {
        display: none;
    }

    .sidebar {
        position: fixed;
        top: 0%;
        width: 100%;
        height: 15%;
        background-color: #042331;
    }

    .sidebar header {
        display: none;
    }
    
    .sidebar li {
        display: inline-flex;
    }

    .sidebar ul a {
        font-size: 20px;
        border-top: none;
        border-bottom: none;
        line-height: 50px;
    }

    #mainbar {
        top: 15%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    #mainbar .studentInfo {
        padding-inline: 5px;
        font-size: 10px;
    }

    #mainbar .course-container h2 {
        font-size: 14px;
    }
    
}

@media (max-width: 300px) {

    .sidebar ul a {
        font-size: 15px;
        line-height: 40px;
    }

    #mainbar .studentInfo {
        padding-inline: 3px;
        font-size: 8px;
    }
}
